.header
  .header__left
    .header__logo
      Blog
  .header__right
    %p Edit
    %p signout
    %p New
.contents
  .content
    .content__message
      %h3 見出しが入ります
      %p 親譲りの無鉄砲で小供の時から損ばかりしている。
    .pict
      %img{alt: "", src: "https://niwaka-web.com/wp/wp-content/uploads/2018/11/dummy_photo.jpg"}
  .content
    .content__message
      %h3 見出しが入ります
      %p 親譲りの無鉄砲で小供の時から損ばかりしている。
    .pict
      %img{alt: "", src: "https://niwaka-web.com/wp/wp-content/uploads/2018/11/dummy_photo.jpg"}
  .content
    .content__message
      %h3 見出しが入ります
      %p 親譲りの無鉄砲で小供の時から損ばかりしている。
    .pict
      %img{alt: "", src: "https://niwaka-web.com/wp/wp-content/uploads/2018/11/dummy_photo.jpg"}
  .content
    .content__message
      %h3 見出しが入ります
      %p 親譲りの無鉄砲で小供の時から損ばかりしている。
    .pict
      %img{alt: "", src: "https://niwaka-web.com/wp/wp-content/uploads/2018/11/dummy_photo.jpg"}


.footer
  =link_to "https://www.facebook.com/", class: "contents__btn" do
    = fa_icon 'facebook'
    Facebook
  =link_to "https://twitter.com/", class: "contents__btn" do
    = fa_icon 'twitter'
    Twitter
  =link_to "https://www.instagram.com/", class: "contents__btn" do
    = fa_icon 'instagram'
    Instagram