.header
  .header__left
    .header__logo
      =link_to blogs_path, class: "header__logo" do
        Blog
  .header__right
    =link_to edit_user_path(current_user), class: "top-menu1" do
      Edit User
    =link_to destroy_user_session_path, method: :delete, class: "top-menu2" do
      Signout
  .header__user-name
    Login user：
    =current_user.name

.delete-contents
  .delete-content
    .delete-message
      投稿の削除が完了しました。
    .root-to__index
      =link_to blogs_path, class: "root-to__blogs" do
        Blogの一覧に戻る

= render partial: 'devise/shared/footer'