-# = render partial: 'devise/shared/header'
-# .blog-form
-#   .input-box
-#     = form_for [@blog] do |f|
-#       = f.text_area :content, maxlength: 50 ,cols: 29.5, rows: 12, class: 'input-box__text', placeholder: '  入力してください（50文字まで）'
-#       .input-box__image
-#         = f.label :image, class: 'input-box__image__file' do
-#           = fa_icon 'image', class: 'icon'
-#           = f.file_field :image, class: 'input-box__image__file__hidden'

-#       .close__btn
-#         Close
-#       = f.submit 'Send', class: 'input-box__submit'
        
-# = render partial: 'devise/shared/footer'

-# -# 削除