.footer
  =link_to "", class: "footer__btn" do
    = fa_icon 'facebook'
    Facebook
  =link_to "", class: "footer__btn" do
    = fa_icon 'twitter'
    Twitter
  =link_to "", class: "footer__btn" do
    = fa_icon 'instagram'
    Instagram