.notification {
  .notice {
    margin-top:60px;
    background-color: $light_blue;
    color: $white;
    text-align: center;
    z-index: 2;
  }

  .alert {
    margin-top:60px;
    background-color: $alert_orange;
    color: $white;
    text-align: center;
    z-index: 2;
  }
}