.footer{
  height:30px;
  width:100%;
  bottom:0;
  background-color: #312825;
  text-align: center;
  position: fixed;

  .footer__btn{
    color: #FFFFFF;
    line-height: 30px;
    padding:0 20px;
    text-decoration: none;
    font-size: 14px;
  }

}