.contents{
  height: 100％;
  width: 100%;
  padding: 70px 230px 0 230px;
  // overflow: auto;
}

.content {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 60px;
}

.content__messages{
  width: 30%;

}

.content__message{
  margin: 75% 0;
}

.content__message__InlineEdit-input{
  outline: none;
}

.content__message__InlineEdit-buttons{
  display: flex;
  flex-direction:row;

  .content__message__InlineEdit-cancel{
    padding:0 5px;
    cursor: pointer;

    &:hover {
      color: red;
    }
  }

  .content__message__InlineEdit-save{
    padding:0 5px;
    cursor: pointer;

    &:hover {
      color: chartreuse;
    }
  }
}

.content__message__box {

}


.content__message__info{
  margin-top: 20px; 
  color: gray;
  font-size: 10px;
}

.content__message__edit-and-delete-btn{
  float:left;
  line-height: 20px;
  font-size: 15px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;

  .edit_id{
    text-align: center;
    width: 75px;
    font-size: 13px;
    color: gray;
    border: solid 1px gray;
    text-decoration: none;
    padding:0 15px;
    margin-right:10px;
    transition: .4s;
    cursor: pointer;

    &:hover {
      background: #999999;
      color: white;
    }
  }

  .delete_id{
    text-align: center;
    width: 75px;
    font-size: 13px;
    color: gray;
    border: solid 1px gray;
    text-decoration: none;
    padding:0 15px;
    margin-right:10px;
    transition: .4s;
    cursor: pointer;

    &:hover {
      background: #999999;
      color: white;
    }
  }
}

.pict {
  width: 100%;
  margin-left: 3%;
}

.pict__img {
  height: 100%;
  max-height: 500px;
  width: 100%;
  object-fit: cover;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 2px gray;
}

.content:nth-child(even) {
  flex-direction: row-reverse;
}
.content:nth-child(even) .text {
  text-align: right;
}
.content:nth-child(even) .pict {
  margin-left: 0;
  margin-right: 3%;
}

// 以下レスポンシブデザイン
@media (max-width:768px) {
  .content {
    flex-direction: column;
  }
  .content:nth-child(even) {
    flex-direction: column;
  }
  .content__message {
    text-align: center;
  }
  .content:nth-child(even) .content__message {
    text-align: center;
  }
  .pict {
    width:100%;
    margin-left: 0;
    text-align: center;
  }
  .content:nth-child(even) .pict {
    margin-left: 0;
    margin-right: 0%;
  }
  .pict img {
    width:50%;
    height:auto;
  }
}
